{% import './molecules/player.njk' as players %}
{% import './atoms/tags.njk' as tags %}
{% import './molecules/navbar.njk' as navbars %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.frontNavbar() }}

  <div class="container">
    <div class="bw-front__hero-container">
      <header>
        <h1>Find any sound, for free</h1>
        <p class="bw-front__subheader">In a collaborative database crafted by our community</p>
      </header>
      <div class="bw-front__hero-container--search">
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search bw-front__hero-search" placeholder="Search sounds..." />
        </div>
      </div>
    </div>
    <div class="row bw-front__content">
      <main class="col-md-9">
        <div class="v-spacing-6">
          <section class="border-grey-light">
            <div class="bw-carousel-container">
              <div class="bw-carousel-wrapper">
                <div class="bw-carousel with-dots dots-distance-3">
                  <div class="padding-5">
                    <h2 class="text-center v-spacing-2">Maintenance downtime</h2>
                    <p class="text-grey text-center">
                    Dear Freesounders, On Monday 3rd at 10:30 a.m. CEST Freesound will be down for approximately two hours
                    while we perform some
                    maintenance on our servers. We’re sorry for the inconvenience this may cause.
                  </p>
                    <div class="center">
                      <button class="btn-primary h-spacing-2">Read more</button>
                      <button class="btn-inverse">More stories</button>
                    </div>
                  </div>
                  <div class="padding-5">
                    <h2 class="text-center v-spacing-2">Welcome to page 2</h2>
                    <p class="text-grey text-center">
                    Dear Freesounders, This is a second blog post. Find out more.
                  </p>
                    <div class="center">
                      <button class="btn-primary h-spacing-2">Read more</button>
                      <button class="btn-inverse">More stories</button>
                    </div>
                  </div>
                  <div class="padding-5">
                    <h2 class="text-center v-spacing-2">Welcome to page 3</h2>
                    <p class="text-grey text-center">
                    Dear Freesounders, This is a third blog post. Find out more.
                  </p>
                    <div class="center">
                      <button class="btn-primary h-spacing-2">Read more</button>
                      <button class="btn-inverse">More stories</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <section class="v-spacing-6">
          <h3 class="v-spacing-4">For you</h3>
          <div class="row no-margins">
            <div class="col">
              {{ players.smallPlayer('Tennis match', 'Marvin_Payne', 'Recording of an unusual tennis match') }}
            </div>
            <div class="col">
              {{ players.smallPlayer('Bass Guitar Solo 01', 'Baltasarelrey', 'My amazing skills at bass') }}
            </div>
            <div class="col">
              {{ players.smallPlayer('Bass Guitar Solo 02', 'Baltasarelrey', 'Some more of my amazing skills at bass') }}
            </div>
          </div>
        </section>
        <hr />
        <section class="v-spacing-6">
          <h3 class="v-spacing-4 v-spacing-top-4">Popular searches</h3>
          <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
              <div class="bw-carousel">
                <div>
                  <div class="row">
                    <div class="col v-spacing-1">
                      {{ tags.tag('Field-recording', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Ambience', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Loop', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Voice', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Wind', 4, 'w-100 h-100')}}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col v-spacing-1">
                      {{ tags.tag('Field-recording', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Ambience', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Loop', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Voice', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Wind', 4, 'w-100 h-100')}}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col v-spacing-1">
                      {{ tags.tag('Field-recording', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Ambience', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Loop', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Voice', 4, 'w-100 h-100')}}
                    </div>
                    <div class="col v-spacing-1">
                      {{ tags.tag('Wind', 4, 'w-100 h-100')}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="v-spacing-2">
          <h3 class="v-spacing-4 v-spacing-top-4">Trending sounds</h3>
          <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
              <div class="bw-carousel v-padding-bottom-4">
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPlayer('Tennis match', 'Marvin_Payne', 'Recording of an unusual tennis match') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Maschine fun', 'giuband', 'Playing with drumming pads') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Playing keyboards', 'arp123123', 'Testing arpeggiators') }}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPlayer('Tennis match', 'Marvin_Payne', 'Recording of an unusual tennis match') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Maschine fun', 'giuband', 'Playing with drumming pads') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Playing keyboards', 'arp123123', 'Testing arpeggiators') }}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPlayer('Tennis match', 'Marvin_Payne', 'Recording of an unusual tennis match') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Maschine fun', 'giuband', 'Playing with drumming pads') }}
                    </div>
                    <div class="col">
                      {{ players.smallPlayer('Playing keyboards', 'arp123123', 'Testing arpeggiators') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="v-spacing-2">
          <h3 class="v-spacing-4 v-spacing-top-4">Trending packs</h3>
          <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
              <div class="bw-carousel v-padding-bottom-4">
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPack('String music remixes', 5, 'john') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Ambient', 2, 'matthew__warrior') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Practicing guitar', 4, 'heavy_music') }}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPack('Cheerful', 3, 'happy') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Drone', 2, 'industrial') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Acoustic stuff', 4, 'indie4life') }}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row no-margins">
                    <div class="col">
                      {{ players.smallPack('Drunk people at sonar', 5, 'giuband') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Noises of barceloneta', 7, 'giuband') }}
                    </div>
                    <div class="col">
                      {{ players.smallPack('Traffic in Gran Via', 4, 'bcn_andy') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="v-spacing-6">
          <h3 class="v-spacing-4 v-spacing-top-4">Guess the sound of the day</h3>
          {{ players.bigPlayer() }}
        </section>
      </main>
      <aside class="col-md-3">
        <section class="v-spacing-7">
          <h4>Enjoying Freesound?</h4>
          <p class="text-grey v-spacing-2">Please consider donating some money</p>
          <div class="between v-spacing-5 wrap">
            <a href="#" class="no-hover">
              <button class="btn-inverse bw-front__donate-amount-button v-spacing-1">5€</button>
            </a>
            <a href="#" class="no-hover">
              <button class="btn-inverse bw-front__donate-amount-button v-spacing-1">10€</button>
            </a>
            <a href="#" class="no-hover">
              <button class="btn-inverse bw-front__donate-amount-button v-spacing-1">50€</button>
            </a>
            <a href="#" class="no-hover">
              <button class="btn-inverse bw-front__donate-amount-button v-spacing-1">Other</button>
            </a>
          </div>
          <div class="h-spacing-left-3">
            <div>Top donor this week:</div>
            <div class="middle">
              <div class="avatar h-spacing-1">
                <img src="../public/avatar.jpg" />
              </div>
              <div>
                <a href="#">giuband</a>
                <br />
                <div class="text-light-grey">10 sounds &middot; 0 posts</div>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="v-padding-7">
          <h4 class="v-spacing-3">Hot forum threads</h4>
          <article class="v-padding-2">
            <div class="v-spacing-1">
              <a class="bw-link--black" href="#">Using sounds, making money</a>
            </div>
            <div class="text-grey">Started by
              <a href="#">Rosmars</a>
            </div>
            <a class="bw-link--grey" href="#">20 answers</a>
          </article>
          <article class="v-padding-2">
            <div class="v-spacing-1">
              <a class="bw-link--black" href="#">40 subscribers!</a>
            </div>
            <div class="text-grey">Started by
              <a href="#">Mudkip2016</a>
            </div>
            <a class="bw-link--grey" href="#">3 answers</a>
          </article>
          <div class="center v-spacing-top-4">
            <a href="#" class="no-hover">
              <button class="btn-inverse">More posts here</button>
            </a>
          </div>
        </section>
      </aside>
    </div>
  </div>

  {% include './molecules/footer.njk' %}
  {% block extrabody %}
    <script src="../src/pages/front.js"></script>
  {% endblock %}
{% endblock %}